@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700');

.callout-container-music {
    align-items: center;

    background: url('../images/themonkees-bandset.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;

}


.callout-container-video {
    height: 100vh;

    background: url('../images/themonkeeshead.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.callout-container-events-and-bookings {
    height: 100vh;

    background: url('../images/themonkees-playing.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 60px;
    padding-bottom: 75px;
}

.container-wrapper {
    background-color: #fafafa;
}

.container-wrapper--orange {
    background-color: #f05f40;
    color: white;
}

.container-wrapper--grey {
    background-color: #8f8f8f;
    color: white;
}


/*----------------------------------------------------Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}


.jumbotron .lead {
    margin: 25px 0;
    font-family: Roboto, "sans-serif", "arial";
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    color: white;
}


.jumbotron small {
    font-size: 100%;
    font-style: italic;
    color: white;
}

/*----------------------------------------------------Block-divider*/

.block-divider {
    width: 120px;
    height: 5px;
    border: 0;
}

.block-divider--short {
    width: 35px;
    background-color: #f05f40;
}

.block-divider--short-white {
    width: 35px;
    background-color: white;
}

.block-divider--long-orange {
    width: 50px;
    background-color: #f05f40;
}



/*----------------------------------------------------Buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn-follow {
    margin-top: 30px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

.btn--green {
    color: white;
    background-color: green;
    border-color: green;

}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: #006400;
    border-color: #006400;
    color: white;
}

/*----------------------------------------------------Landing Page Headers*/

.about-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.landing-video-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.tourdates-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.follow-subscribe-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.social-media-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

/*----------------------------------------------------Landing Page Headers*/

/*----------------------------------------------------About-Container*/

.about {
    font-family: sans-serif, "arial";
    Font-size: 20px;
    text-align: center;
}

.about-footer {
    font-family: sans-serif, "arial";
    Font-size: 20px;
    font-style: italic;
    text-align: center;
}

/*----------------------------------------------------Video-Container*/

.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.videowrapper iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.video-text {
    font-family: sans-serif, "arial";
    Font-size: 20px;
    text-align: center;
}


/*----------------------------------------------------Footer-Container*/

.social-media {
    text-align: center;
}

.footer-text {
    text-align: center;
}

.form-group {
    margin-top: 30px;
}

.social-sign-up {
    text-align: center;
}

.social-links {
    padding-bottom: 15px;

}

.social-links li a i {
    width: 42px;
    height: 42px;
    padding: 18px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #BDBD0A;
}


/*----------------------------------------------------Video page*/

.landing-container {
    width: 100%;
    height: 700px;
    background: url('../images/themonkees2edit1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
}

.header-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.header-logo {
    background: url('../images/themonkeeslogo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 220px;
    border-radius: 30px;
    margin-right: 10px;
}

.header-logo {
    cursor: pointer;
}

.header-item-container {
    display: flex;
    width: 100%;

}

.header-item {
    height: 100%;
    width: 200px;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    opacity: 0.7;
    text-align: center;
}

.header-item:hover,
.header-item:active,
.header-item:focus,
.header-item:active:focus {
    background-color: #FBE945;
    border-color: #FBE945;
    transition: 0.2s;

}

.header-item a {
    font-family: Roboto, "sans-serif", "arial";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #FF0000;
}


.jumob-container {
    width: 70%;
    height: 300px;
    background-color: #BDBD0A;
}

.header-social {
    padding-top: 22px;
}

.header-social h5 {
    font-family: Roboto, "sans-serif", "arial";
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
}

/*----------------------------------------------------text*/

.text {
    font-family: sans-serif, "arial";
    Font-size: 20px;
    text-align: center;
}

/*----------------------------------------------------About section*/

.tourdate-clickhere-container {
    margin-top: 80px;

}

.tourdate-clickhere-item {
    text-align: center;
}

/*----------------------------------------------------Tour Dates section*/

.tour-dates-container-wrapper {
    background-color: #fafafa;
}

.tour-dates-container {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 75px;
}


.tour-dates-header-container {
    width: 100%;
    height: auto;

}

.tour-dates-header-item {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}


.tour-dates-info-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    flex-flow: wrap;
    align-items: stretch;
}

.tour-dates-info-item {
    width: 350px;
    height: 80px;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 60px;
}

.tour-dates-info-item {
    padding-bottom: 50px;
}

.tour-dates-info-item {
    text-align: center;
}

.tourdate-details {
    text-align: center;
}

.tourdate-clickhere {
    text-align: center;
}

@media only screen and (max-width: 600px) {

    .tour-dates-info-container .tour-dates-info-item button {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 500px) {

    .tour-dates-info-container .tour-dates-info-item button {
        margin-top: 60px;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 400px) {

    .tour-dates-info-container .tour-dates-info-item button {
        margin-top: 70px;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 264px) {

    .tour-dates-info-container .tour-dates-info-item button {
        margin-top: 90px;
        margin-bottom: 100px;
    }
}


/*----------------------------------------------------News page*/

.news-landing-container {
    background: url('../images/themonkees-tea-break.png') no-repeat fixed;
    width: 100%;
    height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
}

.opaque-overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 700px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.container-wrapper--newsgrey {
    background-color: #8f8f8f;
    color: white;
}

.news-container {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 75px;
    background-color: transparent;
}

.news-header-container {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 20px
}

.news-header-item {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    background-color: transparent;
}

.news-item-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 60px;
    padding-bottom: 75px;
    background-color: transparent;
}

.news-item-image {
    height: 100%;
    width: auto;
    padding: 0px 0px 0px 0px;
}

#tour-image {
    background-image: url('../images/themonkees-tour.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: auto;
    width: 100%;
}

#micky-podcast {
    background-image: url('../images/themonkees-podcast.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 500px;
    width: 320px;
}

#micky-podcast-2 {
    background-image: url('../images/themonkees-podcast-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 500px;
    width: 320px;
}

#micky-podcast-3 {
    background-image: url('../images/themonkees-podcast-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 500px;
    width: 320px;
}

#show-image {
    background-image: url('../images/themonkees-show.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 500px;
    width: 320px;
}

#comic-image {
    background-image: url('../images/themonkees-comic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 500px;
    width: 320px;
}

.news-item {
    height: 100%;
    width: auto;
    text-align: center;
    padding: 5px 0px 25px 0px;
}

.news-button {
    text-align: center;
}


/*----------------------------------------------------Listening page*/

.listen-landing-container {
    background: url('../images/themonkees-bandset.jpg') no-repeat fixed;
    width: 100%;
    height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
}

.listen-container {
    padding-top: 60px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listen-header-contaner {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.listen-picture-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.listen-text-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.listen-text {
    font-family: sans-serif, "arial";
    Font-size: 20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.audio-player-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.audio {
    align-self: center;
    width: auto;
}


/*----------------------------------------------------VIDEO page*/

.video-landing-container {
    background: url('../images/themonkeeshead.jpg') no-repeat fixed;
    width: 100%;
    height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
}

/*----------------------------------------------------Booking page*/

.bookings-landing-container {
    background: url('../images/themonkees-playing.jpg') no-repeat fixed;
    width: 100%;
    height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
}

/*----------------------------------------------------Burger-menu-icon*/

.menu {
    margin: 0 30px 0 0;
}

.menu a:hover,
.menu a:active,
.menu a:focus,
.menu a:active:focus {
    background-color: #CACA0B;
    border-color: #FBE945;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    line-height: 70px;
}

label {
    margin: 5px 40px 0 0;
    font-size: 30px;
    line-height: 60px;
    display: none;
    width: 50px;
    float: right;
    color: #f05f40;
    border-radius: 30px;
    background-color: white;
    opacity: 0.7;
    text-align: center;
}

label:hover,
label:active,
label:focus,
label:active:focus {
    background-color: #FBE945;
    border-color: #FBE945;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 767px) {

    label {
        display: block;
        cursor: pointer;
        transition: 0.5s;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 5px solid #f05f40;
        margin: 10px, 10px, 10px, 10px;
        background-color: #8f8f8f;
        opacity: 0.95;
        transition: 0.5s;
    }

    #toggle:checked+.menu {
        display: block;
    }
}

.navbar-inverse {
    background-color: transparent;
    border-color: #f05f40;
}

.navbar-fixed-top {
    position: fixed;
}

/*----------------------------------------------------Navbar active white setting */

.active {
    opacity: 1;
}

.media-object {
    padding-right: 60px;
    padding-bottom: 40px;
}

/*----------------------------------------------------Break points/Responsive design */
